/rpi-AIOS-client/log/*
/rpi-AIOS-client/AIOS-bluezero.py
/Automation-nano33sens/src/examples/*
/log/*
/Automation-nano33sens/src/extras/*
/Automation-nano33sens/src/extras/*
/Automation-nano33sens/BLE33-AllSens/*
/Automation-nano33sens/extras/*
/Automation-nano33sens/src/extras/*
